.page {
  padding: 1rem 5rem;
}
.header {
  display: flex;
  flex-direction: column;
  column-gap: 2px;
}

.container {
  display: grid;
  grid-template-columns: 89% 12%;
  margin-bottom: 1.25rem;
  margin-top: 1rem;
  width: 75%;
}

.input {
  grid-column: 1;
}

.button {
  grid-column: 2;
  /* margin-top: 2rem; */
  /* margin-bottom: 0.5rem; */
}

.add-btn {
  height: 40px;
  margin-top: 0.5rem;
}
