.page {
  padding: 1rem 5rem;
}

.container {
  display: grid;
  grid-template-columns: 89% 12%;
  margin-bottom: 1.25rem;
}

.input {
  grid-column: 1;
}

.button {
  grid-column: 2;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
