.page {
  padding: 1rem 5rem;
}
.header {
  display: flex;
  flex-direction: column;
  column-gap: 2px;
}

.container {
  display: grid;
  grid-template-columns: 89% 12%;
  margin-bottom: 1.25rem;
}

.input {
  grid-column: 1;
}

.button {
  grid-column: 2;
  margin-top: 35px;
  margin-bottom: 0.5rem;
}
